.jumbotron {
    background-color: rgb(42, 65, 165);
    color: white;
    align-self: center;
    text-align: center;
    margin-top: 50px;

}
.footer{
    background-color: rgb(15, 46, 36);
    color: aliceblue;
    align-self: center;
    text-align: center;
    padding: 2.5%;
}


.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    
}
.footer-address-icon {
    padding-right: 10px;
}
.card-btn-icon {
    padding-right: 10px;    
}